.pink-cell {
    background-color: #DCB8CB;
}

td, tfoot {
    background-color: #D5C9DF;
    border-bottom: 1px solid white !important;
}

th {
    background-color: tomato;
    border-bottom: 1px solid white !important;
}
